body {
    color: white;
    font-weight: normal;

    background-color: black;
    font-family:
        font-size: line-height: text-decoration:
}

.a1 {

    background-image: url(".jpg");
    background-repeat: no-repeat;
    background-position: center;

}

a {
    color: blueviolet;
}

a:hover {
    color: white;
}
